.checkbox_container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  .checkbox_list {
    width: 150px;
    margin-bottom: 15px;
  }
  &::after {
    content: '';
    width: 150px;
  }
}
