.population_router {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;

  .population_chart_container {
    width: 100%;
    height: 580px;
    @include mq(lg) {
      width: 800px;
    }
  }
}
